<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Para o amor da minha vida 💖</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-center bg-pink-200">
    <h1 class="text-3xl text-pink-500 font-mono font-semibold ">Feliz aniversário meu amor </h1>
    <div class="w-full max-w-5xl mx-auto py-8">
        <div class="w-full max-w-5xl mx-auto py-8 overflow-hidden" id="carousel">
        <!-- Wrapper que será movido -->
        <div id="carouselWrapper" class="flex transition-transform duration-500 ease-in-out">
            
            <!-- Slide 1 -->
            <div class="min-w-full flex justify-center gap-4">
            <img src="{{ url_for('static', filename='images/foto1.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            <img src="{{ url_for('static', filename='images/foto2.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            <img src="{{ url_for('static', filename='images/foto3.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            </div>
        
            <!-- Slide 2 -->
            <div class="min-w-full flex justify-center gap-4">
            <img src="{{ url_for('static', filename='images/foto4.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            <img src="{{ url_for('static', filename='images/foto5.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            <img src="{{ url_for('static', filename='images/foto6.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            </div> 

            <!-- Slide 3-->
            <div class="min-w-full flex justify-center gap-4">
                <img src="{{ url_for('static', filename='images/foto7.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
                <img src="{{ url_for('static', filename='images/foto8.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
                <img src="{{ url_for('static', filename='images/foto8.jpeg') }}" class="w-64 h-76 object-cover rounded-lg border-4 border-pink-300" />
            </div> 
        </div>
        
        <!-- Botões -->
        <div class="absolute inset-y-1/2 left-4 flex items-center">
            <button onclick="prevSlide()" class="text-3xl text-pink-500 hover:text-pink-700">&#10094;</button>
        </div>
        <div class="absolute inset-y-1/2 right-4 flex items-center">
            <button onclick="nextSlide()" class="text-3xl text-pink-500 hover:text-pink-700">&#10095;</button>
        </div>
        </div>
        
    </div> 
    

<script>
    let current = 0;
    const wrapper = document.getElementById('carouselWrapper');
    const totalSlides = wrapper.children.length;

    function updateSlide() {
    const offset = -current * 100;
    wrapper.style.transform = `translateX(${offset}%)`;
    }

    function nextSlide() {
    current = (current + 1) % totalSlides;
    updateSlide();
    
    }

    function prevSlide() {
    current = (current - 1 + totalSlides) % totalSlides;
    updateSlide();
    }

    updateSlide();
</script>
</body>
</html>
